<div class="container">
  <div class="page-header">
    <h1 class="text-center"><strong>Finales y Extras</strong></h1>
  </div>

  <div class="well well-lg">
    <p>En esta pagina te ayudaremos con unas gui­as para tu examenes finales y extras, tambien te ofrecemos examenes pruebas de la materia que quieras.</p>
  </div>

  <div class="well well-lg">

    <div class="page-header">
      <h4><strong>El mejor curso para examenes finales y extras</strong></h4>
    </div>

  <div class="container">
    <table class="table">
      <tr class="active"><th>Accesible</th><th>Efectivo</th><th>Divertido</th></tr>
      <tr>
        <td>Con solo pertenecer al ENP puedes acceder al servicio</td>
        <td>Muchas personas ha aprobado los examenes</td>
        <td>Estudia para tu examen con un metodo nuevo y dinamico</td>
      </tr>
      </table>
  </div> 

  <div class="page-header">
    <h4><strong>El curso compone de...</strong></h4>
  </div>

  <div class="row">
    <div class="col-sm-4">-Acceso a las guias para todas las materias de cuarto, quinto y sexto año.</div>
    <div class="col-sm-4">-Acceso a los planes de estudios y pruebas.</div>
    <div class="col-sm-4">-Un examen prueba similar al los reales.</div>
  </div>

  </div>
</div>

  




